:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --app-base-padding: 10px;
}

body {
  box-sizing: border-box;
}

.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.2em;
  fill: currentColor;
  overflow: hidden;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/* ------------------------------------- Element Plus extend CSS --------------------------------------------------- */
ul.el-dropdown-menu {
  padding: 2.5px;
}
.el-dropdown-menu__item:not(.is-disabled):focus {
  border-radius: var(--el-border-radius-base);
}
